 <!-- Orders Section -->
 <div id="orders" class="well hidden">
    <h4>Orders</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User ID</th>
          <th>Order Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>2024-01-10</td>
          <td>Shipped</td>
        </tr>
        <tr>
          <td>2</td>
          <td>2</td>
          <td>2024-01-12</td>
          <td>Processing</td>
        </tr>
        <tr>
          <td>3</td>
          <td>3</td>
          <td>2024-01-15</td>
          <td>Delivered</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>