      <!-- Users Section -->
      <div id="users" class="well hidden">
        <h4>Users</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User ID</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Registration Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>User 1</td>
              <td>user1@example.com</td>
              <td>2024-01-01</td>
            </tr>
            <tr>
              <td>2</td>
              <td>User 2</td>
              <td>user2@example.com</td>
              <td>2024-01-02</td>
            </tr>
            <tr>
              <td>3</td>
              <td>User 3</td>
              <td>user3@example.com</td>
              <td>2024-01-03</td>
            </tr>
          </tbody>
        </table>
      </div>