    <section class="uf-contact-form-03">
        <div class="container text-center">
            <div class="row justify-content-center align-items-center my-4">
                <div class="col">
                    <div class="uf-ct-03-header">
                        <img src="./images/supports.png" alt="" class="uf-ct-03-img">
                    </div>
                    <div class="uf-cf-03-main bg-white py-5 px-lg-5 px-md-4 px-3 mx-auto rounded-4">
                        <h2 class="text-uppercase fw-bold">Contact Us</h2>
                        <p>Or reach out manually to <a href="mailto:uifresh.net@gmail.com" class="text-decoration-none uf-ct-03-text-primary">uifresh.net@gmail.com</a></p>
                        <form>
                            <div class="input-group mb-3">
                                <i class="fa-regular fa-user input-group-text uf-ct-03-input-group-text lh-lg"></i>
                                <input type="text" class="form-control" placeholder="Your name" id="uf-iname">
                            </div>
                            <div class="input-group mb-3">
                                <i class="fa-regular fa-at input-group-text uf-ct-03-input-group-text lh-lg"></i>
                                <input type="email" class="form-control" placeholder="Email address" id="uf-imail">
                            </div>
                            <div class="input-group mb-3">
                                <i class="fa-regular fa-pen-to-square input-group-text uf-ct-03-input-group-text lh-lg"></i>
                                <textarea class="form-control" placeholder="Your message" id="uf-itextarea" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-lg uf-ct-03-btn-primary text-uppercase w-100">
                                Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>