<header>
    <div class="logo-box">
        <a class="logo" href="#"><!-- Put logo here --></a>
        <a class="logo-text" href="#">Logo<!-- Put logo text here --></a>
    </div>
    <nav class="nav">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Cart</a>
    </nav>
</header>