<header id="header">
    <div class="logo-box">
        <a class="logo" href="#"><!-- Put logo here --></a>
        <a class="logo-text" href="#">Logo<!-- Put logo text here --></a>
    </div>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="#">Products</a>
        <a href="#">Cart</a>
    </nav>
</header>

<style>
@import url('/css/base.css');
#header {
    width: calc(100% - 4dvw);
    height: 60px;
    padding: 0 2dvw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--black);
}

#header a {
    color: var(--white);
    text-decoration: none;
}

#header .logo-box {}

#header .logo-box .logo-text {
    font-size: x-large;
}

#header .nav {
    gap: 1dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
</style>