<div id="news-letter-section">
    <h1>Subscribe To Our News Letter</h1>
    <p>Subscribe to our news letter to get latest products trends and sales.</p>
    <form action="" method="post">
        <input type="email" name="email" id="email">
        <button type="submit">Subscribe</button>
    </form>
</div>