<div class="order-history-date-range">
    <input type="date" id="order-history-since" value="2023-01-11">
    <span>To</span>
    <input type="date" id="order-history-until" value="2023-01-11">
</div>

<style>
    .order-history-date-range {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .order-history-date-range input[type="date"] {
        padding: 5px;
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

</style>
