<div class="order-history-date-range">
    <input type="date" id="order-history-since">
    <span>To</span>
    <input type="date" id="order-history-until">
</div>

<style>
    .order-history-date-range input[type="date"] {
        padding: 5px;
        margin: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>