<section class="order-history-section">
    <div>
        <%- include('order-history-control-head') %>
    </div>
    <div>
        <%- include('order-list-box') %>
    </div>
    
</section>


<style>
    .order-history-section {
        padding-top: 120px; /* Adds padding to account for the fixed control header */
        width: 100%; /* Ensures the section takes the full width of the screen */
        display: flex;
        justify-content: center; /* Centers the order items horizontally */
    }
    
</style>