<div class="order-history-tab-control">
    <a href="/order/history/all-order" class="order-history-tab active">All Order</a>
    <a href="/order/history/summary" class="order-history-tab">Summary</a>
    <a href="/order/history/completed" class="order-history-tab">Completed</a>
    <a href="/order/history/cancelled" class="order-history-tab">Cancelled</a>
</div>

<style>
    .order-history-tab-control a {
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        border-bottom: 2px solid transparent;
        color: #4a4a4a;
        flex-grow: 1;
        text-align: center;
    }
    
    .order-history-tab-control a.active {
        color: #f9333b;
        border-bottom: 2px solid #f9333b;
    }
    
    .order-history-tab-control a:hover {
        color: #f9333b;
        border-bottom: 2px solid #f9333b;
    }
    
</style>
