<section class="order-filters">
    <div class="flex max-sm:flex-col items-center justify-end gap-2 max-lg:mt-5">
        <div class="flex rounded-full py-3 px-4 border border-gray-300 relative">
            <input type="text" name="from-dt" id="from-dt"
                class="font-semibold px-2 text-sm text-gray-900 outline-0 appearance-none flex flex-row-reverse cursor-pointer w-28 placeholder-gray-900" placeholder="11-01-2023">
        </div>
        <p class="font-medium text-lg leading-8 text-black">To</p>
        <div class="flex rounded-full py-3 px-4 border border-gray-300 relative">
            <input type="text" name="to-dt" id="to-dt"
                class="font-semibold px-2 text-sm text-gray-900 outline-0 appearance-none flex flex-row-reverse cursor-pointer w-28 placeholder-gray-900" placeholder="11-01-2023">
        </div>
    </div>
</section>

<style>
.flex {
    display: flex;
}
.max-sm\\:flex-col {
    flex-direction: column;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.border {
    border-width: 1px;
}

</style>