<div class="order-history-tab-control">
    <a href="/order/history/all-order" class="order-history-tab">All Order</a>
    <a href="/order/history/summary" class="order-history-tab">Summary</a>
    <a href="/order/history/completed" class="order-history-tab">Completed</a>
    <a href="/order/history/cancelled" class="order-history-tab">Cancelled</a>
</div>

<style>
    .order-history-tab-control a {
        margin-right: 20px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .order-history-tab-control a:hover {
        color: blue;
    }
    .order-history-tab-control a.active {
        color: blue;
    }
</style>
