<div class="order-history-control-head">

    <%- include('order-history-tab-control') %>

    <%- include('order-history-date-range') %>

</div>

<style>
    .order-history-control-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
</style>
