<div id="product-reviews">
    <h3>Product Reviews</h3>

    <%# Product reviews here %>
    <% const reviews = product.reviews %>
    <% for (const index in reviews) { %>
        <%- include('product-review-message', { key: index, review: reviews[index] }) %>
    <% } %>

</div>

<style>
#product-reviews {
    width: calc(100% - 4dvw);
    height: auto;
    padding: 2dvw;

    grid-row: 4;
    grid-column: 1 / span 3;

    gap: 1dvw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    border-top: 2px solid var(--light-gray);
}

#product-reviews h3 {
    width: 100%;
    margin: 0 0 2dvw 0;
}
</style>