<div id="product-details-section">
    <%- include('product-images-aside', { images: product.images }) %>
    <%- include('product-details-main') %>
</div>

<style>
#product-details-section {
    width: 100%;
    height: calc(100dvh - 60px);

    display: flex;
}
</style>