<form id="sign-in-form" action="/authentication/users/sign-in" method="post">
    <h1>Sign In</h1>
    <sub>Please provide necessary credentials.</sub>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" minlength="3" maxlength="255" placeholder="Enter your username"
        required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" minlength="8" placeholder="Enter your password" required>

    <label for="role">Role:</label>
    <select name="role" id="role">
        <option value="customer">Customer</option>
        <option value="admin">Admin</option>
    </select>

    <button type="submit">Sign Up</button>
</form>

<style>
#sign-in-form {
    width: 460px;
    height: fit-content;
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border: 1px solid var(--black);
}

#sign-in-form sub {
    color: var(--accent);
    text-align: center;
}

#sign-in-form h1 {
    text-align: center;
}

#sign-in-form label {
    margin: 10px 0 0 0;
}

#sign-in-form input {
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
}

#sign-in-form select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
}

#sign-in-form select option {
    font-size: medium;
}

#sign-in-form button {
    width: 100%;
    height: 50px;
    margin: 15px 0 0 0;

    color: var(--white);
    font-weight: bolder;

    border: 1px solid var(--blue);
    background-color: var(--blue);

    transition-duration: 250ms;
}

#sign-in-form button:hover {
    color: var(--blue);
    background-color: var(--white);
}
</style>