<section id="carts-section">
    <%- include('cart-items-main') %>
    <%- include('cart-order-summary-aside') %>
</section>

<style>
#carts-section {
    width: 100%;
    height: calc(100dvh - 60px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
</style>