<header id="header">
    <div class="logo-box">
        <a class="logo" href="#">
            <img src="/img/logo.png" alt="Logo" class="logo-image">
        </a>
        <a class="logo-text" href="#">G7</a>
    </div>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/order-history">Order History</a>

    </nav>
</header>

<style>
#header {
    width: calc(100% - 4dvw);
    height: 60px;
    padding: 0 2dvw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--black);
}

#header a {
    color: var(--white);
    text-decoration: none;
}

#header .logo-box {
    display: flex;
    align-items: center;
}

#header .logo-box .logo-image {
    height: 40px; 
    width: auto; 
}

#header .logo-box .logo-text {
    font-size: x-large;
    margin-left: 10px;
}

#header .nav {
    gap: 1dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
</style>
