<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
    
    <%- include('partials/home/header') %>
    <h2>Checkout Page</h2>
    
    <section>
        <%- include('partials/checkout/checkout-form') %>
    </section>

</body>