<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="UI Fresh - uifresh.net">
    <link rel="icon" href="https://uifresh.net/wp-content/uploads/2024/02/cropped-uifresh-favicon-new-1-32x32.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://kit.fontawesome.com/5669600ece.js" crossorigin="anonymous"></script>
</head>

<body>
<%- include('partials/header') %>

<section>
<%- include('partials/contact') %>
</section>
</body>