<!-- Form => action="/authentication/sign-up" method="POST" -->

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <label for="username"><b>User Name</b></label>
      <input type="text" maxlength="255" minlength="3" placeholder="Enter User Name" name="username" required>
  
      <label for="email"><b>Email</b></label>
      <input type="text" maxlength="255" minlength="3" placeholder="Enter Email" name="email" required>
  
      <label for="password"><b>Password</b></label>
      <input type="text" maxlength="64" minlength="3" placeholder="Enter Password" name="password" required>
  
      <label for="firstname"><b>Fist Name</b></label>
      <input type="text" maxlength="255" minlength="3" placeholder="Enter First Name" name="firstname" required>

      <label for="lastname"><b>Last Name</b></label>
      <input type="text" maxlength="255" minlength="3" placeholder="Enter Last Name" name="lastname" required>
  
      <label for="phone"><b>Phone Number</b></label>
      <input type="text" maxlength="20" minlength="3" placeholder="Enter Phone Number" name="phone" required>
  
      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>