<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sign.css">
    <title>Login Form</title>
</head>
<body>

    <!-- Login Form -->
    <form action="action_page.php" method="post">
        <div class="container">
            <label for="username"><b>User name</b></label>
            <input type="text" maxlength="255" minlength="3" placeholder="Enter Username" name="username" required>
    
            <label for="password"><b>Password</b></label>
            <input type="password" maxlength="64" placeholder="Enter Password" name="password" required>
    
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
        </div>
    </form>

</body>
</html>
