@import url(base.css);

body {
    color: #111;
    background-color: #F3F6F1;
}

.uf-contact-form-03 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F6F1;
}

.uf-cf-03-main {
    max-width: 100%;
    width: 100%;
    padding: 2rem;
}

@media (min-width: 768px) {
    .uf-cf-03-main {
        max-width: 450px;
    }
}

.uf-ct-03-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.uf-ct-03-text-primary {
    color: #99cf25;
}

.uf-ct-03-btn-primary {
    background-color: #99cf25;
    color: #111;
}

.uf-ct-03-btn-primary:hover {
    background-color: #111;
    color: #fff;
}

.uf-ct-03-input-group-text {
    min-width: 44px;
}

.form-control {
    padding: 0.75rem;
}

.form-control:focus {
    border-color: #99cf25;
    box-shadow: unset;
    background-color: #efefef;
}
