header {
    width: calc(100% - 4dvw);
    height: 60px;
    padding: 0 2dvw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--black);
}

header a {
    color: var(--white);
    text-decoration: none;
}

header .logo-box {}

header .logo-box .logo-text {
    font-size: x-large;
}

header .nav {
    gap: 1dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}