<div class="product-review-message">
    <a class="username" href="/users/<%- review.userId %>"><%- review.username %></a>
    <div class="rating-box">
        <% for (let i = 0; i < review.rating; i++) { %>
            <%- include('../../svgs/star-full') %>
        <% } %>
    </div>
    <p class="comment"><%- review.comment %></p>
</div>

<% if (key == 0) { %>
<script>

</script>
<% } %>

<% if (key == 0) { %>
<style>
.product-review-message {
    width: calc(100% - 3dvw);
    padding: 1dvw 1dvw 1dvw 2dvw;

    border: 1px solid var(--light-gray);
    border-left: none;
}

.product-review-message .username {
    color: var(--black);
    text-decoration: none;
}

.product-review-message .username:hover {
    text-decoration: underline;
}

.product-review-message .rating-box .star-full {
    fill: var(--yellow);
}

.product-review-message .comment {
    margin: 10px 0 0 0;
}
</style>
<% } %>