<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <title>404 Page Not Found</title>
</head>
<body>
    
    <%- include('../partials/header') %>
    <section>
        <h1 style="font-size: 5dvw; color: #aaa;">404 Page Not Found</h1>
    </section>

</body>
</html>