<div class="order-history-control-head">
    <%- include('order-history-tab-control') %>
    <%- include('order-history-date-range') %>
</div>

<style>
.order-history-control-head {
    width: calc(100% - 10dvw);
    height: 50px;
    padding: 0 5dvw;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid var(--light-gray);
}
</style>