<aside id="checkout-order-summary-aside">
    <h2>Order Summary</h2>

    <h3>Products</h3>
    <div class="selected-items">
        <!-- <span>Product Name - (count * price)</span> -->
        <span>Product Name - (3 * Php 120)</span>
        <span>Product Name - (2 * Php 320)</span>
    </div>

    <div class="status">
        <span class="item-count">Items 5</span>
        <span class="total-price">Php 1000</span>
    </div>
</aside>

<style>
#checkout-order-summary-aside {
    width: 500px;
    height: fit-content;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    border: 1px solid var(--black);
    background-color: var(--white);
}

#checkout-order-summary-aside h2 {
    width: calc(100% - 4dvw);
    height: 80px;
    padding: 0 2dvw;

    text-align: center;
    align-content: center;

    border-bottom: 1px solid var(--black);
}

#checkout-order-summary-aside h3 {
    width: calc(100% - 4dvw);
    height: 60px;
    padding: 0 2dvw;

    align-content: center;
}

#checkout-order-summary-aside .selected-items {
    width: calc(100% - 4dvw);
    height: calc(100% - 80px - 60px - 60px - 100px);
    padding: 0 2dvw;

    overflow: auto;

    gap: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#checkout-order-summary-aside .selected-items span {
    width: calc(100% - 2dvw - 2px);
    height: auto;
    padding: 1dvw;

    border: 1px solid var(--black);
}

#checkout-order-summary-aside .status {
    width: calc(100% - 4dvw);
    height: 60px;
    padding: 0 2dvw;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
</style>